.background {
  --theme-hue: 180;
  --progress-color: rgb(0, 255, 255);
}

.logo {
  background-color: rgb(155, 255, 100);
}

.progressBar {
  background-color: rgb(155, 255, 100);
}

.splash {
  background-color: rgb(155, 255, 100);
}

.watermark {
  background-color: rgb(155, 255, 100);
}
