.background {
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.80)), rgba(0,0,0,0.55) url(https://raw.githubusercontent.com/Techlis/TechlisSite/master/src/assets/LaunchScreen1024x768.png) no-repeat center fixed;
  background-size: cover;
}

.logo {
    background-image: url(https://raw.githubusercontent.com/Techlis/TechlisSite/master/src/assets/512.png);
}

.progressBar {
  background-color: rgba(226, 0, 121, 0.55);
}

.splash {
  width: 55%;
  height: auto;
  margin: 0 auto;
  background: url(https://raw.githubusercontent.com/Techlis/TechlisSite/master/src/assets/splash.png);
  background-size: contain;

}
